.roomfac {
  display: flex;
  width: 70%;
  border: 1px solid rgba(228, 226, 225, 0.993);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 20px;
  margin: 40px auto;
}

*{
  margin: 0;
  padding: 0;
}

.User{
  border-right:1px solid rgb(136, 131, 131) ;
}